
/* CSS variables */
:root {
    --primary: #ddd;
    --dark: black;
    --light: #fff;
    --shadow: 0 1px 5px rgba(61, 61, 61, 0.8);
    --hover: rgb(247, 56, 56);
}

@font-face {
    src: url("../fonts/Romantic Couple.ttf");
    font-family: romantic;
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Navigation */
.keyNav  {
    display: flex;
    align-items: center ;
    justify-content:space-between;
    padding: 0 10px;
    box-shadow: 3px 3px rgba(194, 194, 194, .3);      
}
.mainNav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0;
}

 li {
    list-style-type: none;
 }
 a{
    text-decoration: none;
    color: var(--dark);
    padding:  10px 20px;
 }
.active {
   background-color: var(--hover);
   color: var(--light);
   border-radius: 25px;
}
 .navItem  {
    display: inline;
    font-size: 1em; 
 }
 .brand {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-transform:uppercase;
    font-size: 2em;
    font-family: romantic;
    font-weight: bolder;
 }
 .nav-icons {
    float: right;
    
 }
 svg {
    width: 32px;
    height: 32px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-left: 5px;
 }
 .mainNav a:hover {
    background-color: var(--hover);
    color: var(--light);
    border-radius: 25px;
    transition: 0.5s ease-out;
 }
 .toggler div {
   width: 2.2em;
   height: .2em;
   margin: .4em;
   background: var(--dark);
   transition: 0.4s ease-in;
} 

.toggler {
   margin-top: 10px;
   display: none;
   cursor: pointer;
}

 @media screen and (max-width: 768px) {
   .toggler {
      display: block;
  }
  
  .mainNav {
      position:fixed;
      top: 5vh;
      right: 0;
      width: 60%;
      height: 50%;
      background:#fff;
      opacity: .9;
      flex-direction:column;
      transform: translateX(120%);
      transition: 0.5s ease-in; 
      margin: 10px 0;
      padding: 0;
  }

 }

 
  /* Nav Active Class */
  .nav-active {
   transform: translateX(0);
   position: absolute;   
}

/* Hamburger Icon Animation */
.toggle .line1 {
   transform: rotate(-45deg) translate(-7px, 5px);
}
.toggle .line2 {
   opacity: 0;
}
.toggle .line3 {
   transform: rotate(45deg) translate(-7px, -5px);
}
