.foot-cont {
    background-color: #eee;
    min-height: 300px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.foot-cont1 {
    flex: 2;
}
.foot-cont-2 {
    display:flex;
    flex: 50%;
}
.foot{
    font-family: romantic;
    font-size: 5em;
    margin: 0;
}

.foot-cont2 {
    flex: 1;
    display:flex;
    flex-direction: column;

}
.foot-cont3 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px){
    .foot-cont {
        flex-direction: column;
    }
    .foot-cont-2 {
        gap: 30px
    }
}