
.banner {
    display: flex;
    padding: 20px;
    /* background-color: var(--primary); */
    min-height: 500px;
}
.head {
    font-size: 3.5em;
    text-align: left;
    margin-bottom: 0;
}
.pg1 {
    font-size: 1em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
    margin-top: 5px;
}

.img-1 {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 3px solid var(--hover);
    padding: 15px;  
}
.cont1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 50px;
   
}
.cont2 {
    display: flex;
    flex: 1 50%;
}
.btn {
    color: var(--light);
    background-color: var(--hover);
    border: none;
    padding: 15px;
    border-radius: 25px;
    width: 30%;
    margin-top: 20px;
}

@media screen and (max-width: 769px) { 
    .banner {
        flex-direction: column;
        background-color: var(--hover);
        color: var(--light)
    }
    .head {
        font-size: 2.8em;
    }
    .img-1 {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 3px solid var(--light);
        padding: 15px;  
    }
    .btn {
        color: var(--light);
        background-color: transparent;
        border: 2px solid #fff;
        padding: 15px;
        border-radius: 25px;
        width: 40%;
        margin: auto ;
        
    }
    .cont2 {
        display: flex;
        flex: 1 50%;
        justify-content: center;
        margin-top: 20px;
        margin-left: 10px;
    }
}